:root {
    --text-color: #fafafa;
    --darker-text-color: #d1d1d1;
    --primary-color: #13222e;
    --secondary-color: #2a455f;
    --modal-bg: #212f3f;
    --border-color: #8897a6;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Zain", serif;
    font-weight: 400;
    font-family: Arial, sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    display: flex;
    height: 100dvh;
    padding: 0;
    margin: 0;
    position: relative;
}

.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem 2rem;
    max-height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 5px;
}

.form-title {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin-bottom: 0.5rem;
}

label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.info-btn,
.close-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
    width: max-content;
    margin: auto;
    margin: 0;
    padding: 5px;
    font-size: 1rem;
}

.info-icon {
    width: 1.2rem;
}

.modal {
    display: none;
    flex-direction: column;
    position: fixed;
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60% !important;
    height: max-content;
    max-height: 90% !important;
    background: var(--modal-bg);
    padding: 0.8rem;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.show-modal {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: var(--modal-bg);
}

.close-icon {
    width: 1.5rem;
}

.modal-title {
    font-size: 1.5rem;
    margin: 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--secondary-color);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

input,
select,
button {
    color: var(--darker-text-color);
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    background: var(--primary-color);
    border: 1px solid var(--border-color);
    outline: none;
}

input:focus {
    border: 1px solid var(--text-color);
}

select {
    cursor: pointer;
}

button {
    color: var(--text-color);
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0.5rem auto;
    width: 100%;
    transition: 0.25s ease;
}

button:hover {
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
}

.chart-container {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    .form {
        flex: 2;
    }
}
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .form {
        width: 100%;
        max-height: max-content;
        flex: auto;
        padding: 1rem;
        overflow-y: unset;
    }

    .chart-container {
        flex: auto;
        min-height: 500px !important;
    }

    .modal {
        width: 90% !important;
    }

    .modal-title {
        font-size: 1.2rem;
        margin: 0;
        padding: 5px 0;
    }
    
    p {
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
    }

    .close-btn {
        padding: 0.2rem;
    }
    .close-icon {
        width: 1.2rem;
    }
}
